body{
    padding:0;
    margin: 0;
    display: none;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
.card{
    width: 95vw;
    height: 100vh;
    margin :10px auto 10px;
    border-radius:5px;
    box-shadow: 0px 0px 3px;
}
@media screen and (max-width:425px) {
    div.icons{
        z-index: 10;
        position: fixed;
        bottom: 0;
    }
    .icons{
        bottom: 1;
       background-color: rgba(249, 249, 249, 0.869);
       display:flex;
       box-shadow:0px -2px 10px ;
       justify-content: space-around;
       align-items: center;
        height: 10vh;
        width: 100vw;
       
    }
    .top-icon{
        
        background-color: rgb(234, 234, 234);
        box-shadow: 0px 0px 3px;
        
        border-radius:50px;
        width: 50px;
        height: 50px;
        margin-top:-50px;
  
    }
    .top-icon img{
        margin: 4px 0px 4px 4px;
        display: flex;
        justify-content:center;
        align-items: center;
    }
     img#center:hover{
        box-shadow: none;
        border-radius: none;
        background-color:none;
    }
    .icons img{
        padding:10px;
    }
    .icons img:hover {
            background-color: rgb(234, 234, 234);
            border-radius: 10px;
            box-shadow: 0px 0px 3px;
    }
   
    
   
    body {
        display:block;
        position: relative;
        
    }
}